{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<div class="row justify-content-center my-3">
  <div class="col-5">
    <img src="{% static 'portfolio/SquareBlonde1.png' %}" class="img-fluid">
  </div>
</div>

<div class="row justify-content-center mb-3 ">
  <div class="col-md-9 text-center">
    <h4 id="hometext" class="font-weight-bold">As a talented individual in both problem solving skills and development , seeking for an FTE as a SOFTWARE DEVELOPER 😊</h4>
  </div>
</div>

<h1 class="mt-5 text-primary">Portfolio</h1>
<hr>
<div class="row">
  <div class="col-lg-4 col-md-6">
    <a href="blog">
      <img src="static/portfolio/skills.jpg" class="img-fluid mb-">
    </a>
    <br>
    <br>

    <h3 class="text-info">SkIlL SeT</h3>
    <p>Technological knowledge that I possess for Software Development and support the organisation</p>
  </div>
  <div class="col-lg-4 col-md-6">
    <a href="skill">
      <img src="static/portfolio/experience.jpg" class="img-fluid mb-">
    </a>
    <br>
    <h3 class="text-info" >Experience</h3>
    <p>The Work Experience Im having in the problem solving and debugging field in Data Structures and Algorithms.</p>
  </div>
  {% for project in projects %}
  <div class="col-lg-4 col-md-6">

    {% if project.url %}
    <a href="{{ project.url }}">
      <img src="{{ project.image.url }}" class="img-fluid mb-2">
    </a>
    {% else %}

    <img src="{{ project.image.url }}" class="img-fluid mb-2">
    {% endif %}
    <br>
    <br>
    <h3 class="text-info">{{ project.title }}</h3>
    <p>{{ project.description }}</p>

  </div>
  {% endfor %}
</div>

{% endblock %}
