{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="text-center ">My Work Experience</h1>
<br>
<br>
<br>

{% for skill in skills %}
<div class="row justify-content-center my-3">
  <div class="col-md-10">
      <img src="{% static "portfolio/si.png" %}" width="30" height="50" class="d-inline-block align-top">
      <h2 class="text-primary">{{ skill.title }}</h2> <h3 class="text-muted">Student Mentor</h3>
    <h5 class="text-muted">{{ skill.date|date:'M d Y'|upper }}</h5>
    <h4>{{ skill.description|striptags }}</h4>
  </div>
</div>
{% endfor %}

{% endblock %}
